.navbar{
    display: flex;
    justify-content: center;
    background-color: chocolate;
   height: 50px;
}
.navContainer{
    width: 100%;
    color: white;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    color:rgb(254, 38, 10) ;
    cursor: pointer;
}